/* Post.module.css */

.post {
    background: #ffffff;
    /* max-height: 500px; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    width: 500px;
    margin-top:65px;
    margin-bottom: 40px;
}


.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.username {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    position: left;
    margin-right: 95px;
   
}
.location {
    color: #000000;
    font-size: 18px;
    position: center;
    /* left: 50px;   */
}

.date {
    color: #000000;
    font-size: 12px;
    position: right;
    margin-left: 50px;
    /* left: 90px; */
}

.media {
    width: 100%;
    overflow:auto;
}

.mediaContent {
    width: 100%;
    max-height: 300px;
}

.body {
    padding: 15px;
}

.caption {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    }

.likeButton {
    background: none;
    border: none;
    color: #000000bc;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.likeButton.liked {
    color: #ff0000;
}

.commentsSection {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.commentForm {
    display: flex;
    margin-bottom: 10px;
}

.commentInput {
    flex-grow: 1;
    background-color: #0A2647;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 5px;
    outline: none;
    font-size: 14px;
}

.commentButton {
    background: #0A2647;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.commentButton:hover {
    background-color: #333;
}


.menuWrapper {
    position: relative;
}

.menuButton {
    background: none;
    color:#000000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 109px;

}

.menu {
    position: absolute;
    top: 25px;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.menu button {
    width: 100%;
    color: #000000;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

.menu button:hover {
    background: #000000;
    color:#ffffff;
}

.likeButton, .viewLikesButton {
    background: none;
    border: none;
    color:#000000;
    cursor: pointer;
    margin-right: 10px;
}

.modalList {
    list-style: none;
    padding: 0;
}

.modalListItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.modalListItem:last-child {
    border-bottom: none;
}

.modalProfilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.modalUserInfo {
    display: flex;
    flex-direction: column;
}

.modalUsername {
    font-size: 1.2em;
    font-weight: bold;
}

.loadMoreButton {
    background-color: #0A2647;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 12px;
}

.loadMoreButton:hover {
    background-color: #333;
}

/* Adjust styles for "Load more" button when in "Show less" mode */
.loadMoreButton.less {
    background-color: #0A2647;
    color: white;
    border-radius: 12px;
}

.loadMoreButton.less:hover {
    background-color: #333;
}