/* Container for the whole page */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Main content area */
.main {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.logo {
    width: 800px;
    height: auto;
}

/* Form for password reset */
.resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Input fields */
.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Label for input fields */
.label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    align-self: flex-start;
}

/* Error message */
.error {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
}

/* Success message */
.message {
    color: #4caf50;
    font-size: 14px;
    margin-top: 10px;
}

/* Button for resetting password */
.resetButton {
    background-color: #1ea878;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.resetButton:hover {
    background-color: #1ea878;
}

/* Footer of the page */
.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}



.logoContainer {
    margin-bottom: 20px;
}